@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0px;
    padding: 0px;
}  

/* Shared Style */
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
/* header style */
header{
    padding: 50px 0px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.navbar-items{
    list-style: none;
}
.navbar-link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
.navbar-list{
    gap: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}