@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0px;
    padding: 0px;
}  

/* Shared Style */
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600px;
    cursor: pointer;
}
.description{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}
/* header style */
/*navbar style*/
header{
    padding: 50px 0px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.navbar h3{
    font-size: 2.813rem;
    font-weight: bold;
    color: #131313;
}
.navbar-items{
    list-style: none;
}
.navbar-link{
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}
.navbar-list{
    gap: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}

/*banner style*/
.banner{
    margin-top: 102px;
    text-align: center;
}
.banner-content{
    max-width: 868px;
    margin: 0px auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}
.banner-description p{
    margin-bottom: 32px;
}
.banner-image{
    margin-top: 50px;
    width: 100%;
}
/* Section Team  */
.team-conatiner{
    max-width: 1440px;
    margin: 0px auto;
    justify-content: space-between;
    margin-top: 85px;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-image-container img{
    max-width: 100%;
}
.team-content{
    max-width: 537px;
}
.team-content-title h2{
    font-size: 2.813rem;
    margin-bottom: 24px;
}
.Quick-list{
    font-weight: 500;
    color: #131313;
}
.of-Our{
    font-weight: bold;
    color: #131313;
}
.Features-team{
    font-weight: bold;
    color: #FF900E;
}
.team-content-description p{
    margin-bottom: 24px;
}
/* features section  */
.features{
    padding: 130px 0px;
}
.features-container{
    max-width: 1440px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    gap: 146px;
}
.features-content{
    max-width: 586px;
    margin-top: 25px;

}
.features-title h3{
    max-width: 468px;
    font-size: 2.813rem;
    font-weight: bold;
    color: #131313;
    margin-left: 26px;
    margin-bottom: 24px;
}
.features-description p{
    margin-bottom: 30px;
}
.features-card-items{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 25px;
}
.features-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.features-image{
    max-width: 800px;
}
.btn-2{
    margin-left: -92px;
    margin-top: -77px;
    padding: 45px 42px;
}
.btn-2-year{
    font-size: 4.063rem;
    font-weight: bold;
}
.btn-2-ex{
    font-size: 1.563rem;
    font-weight: 500;
}

/* responsive header */
@media screen and (max-width: 576px) {
    .navbar-list , .navbar{
        flex-direction: column;
    }
    .navbar{
        gap: 20px;
    }
    .banner-title{
        width: 100%;
        font-size: 2.5rem;
    }
    .banner-content{
        padding: 0px 5px;
    }
    .team-conatiner{
        gap: 25px;
        text-align: center;
    }
    .features-container{
        flex-direction: column;
        padding: 0px 10px;
        margin-top: -50px;
    }
    .features-content{
        text-align: center;
    }
    .features-image{
        margin-top: -80px;
    }
    .features-image img{
        width: 100%;
    }
    .btn-2{
        margin-left: 0px;
        margin-top: 0px;
        padding: 25px 22px;
    }

}